img {
    height: 75px;
}
a {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}


/* li {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
} */

.nav-bar {
    height: 150px;
    background-color: #374050;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 20px;
    text-decoration: none;
    
}

.icon-div{
    padding-top: 10px;
}

.title{
    color: #fff;
}